* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(background.png);
    color: #FFF;
    /* Impede que a imagem se repita, caso ela não seja grande o suficiente */
    background-repeat: no-repeat; 
    
    /* Centraliza a imagem no elemento */
    background-position: center center; 
    
    /* Redimensiona a imagem para cobrir toda a área do elemento (viewport), mantendo a proporção */
    background-size: cover; 
    
    /* (Opcional) Fixa a imagem de fundo para que ela não role com o conteúdo */
    background-attachment: fixed; 
    
}

/* NAVBAR */
header {
    /*background-color: #222;*/
    background-color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .logo, .nav-links {
    /*background-color: #222;*/
    background-color: #FFF;
    color: #222;
    padding: 15px 0;
}


.navbar {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    transition: color .3s;
}

.nav-links a:hover {
    color: #1b06dd;
}

/* SEÇÕES */

.title_destaque {
    border-bottom: 2.5px solid rgb(145, 3, 228);
}
.section {
    margin-top: 20px;
    padding: 50px 20px 30px;
    max-width: 1100px;
    margin: auto;
}

.section h2 {
    margin-bottom: 20px;
    /*color: #222;*/
    color: #fff;
}

/*h2 {
    border-bottom: 2.5px solid  rgb(145, 3, 228);
    
}*/

.section ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* GALERIA */
.gallery .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.image-grid img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* VÍDEOS */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    
}

/* FOOTER */
footer {
    background-color: #222;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-top: 40px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    h1, h2, p, li {
        text-align: center;
    }
}
